
/* new book button */
.new-book-container {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 30px;
}

#new-book {
  /* width: 250px; */
  font-size: 16px;
  font-weight: bold;
  /* font-family: 'Times New Roman', Times, serif !important; */
}

/* new book form */
.dialog {
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 0;

  width: 300px;
}

.close-button-container {
  padding: 1em;
  display: flex;
  justify-content: right;
}

#close-button {
  border-radius: 50%;
  border: 1px solid black;
}

.info {
  padding: 0.2em 2em;
}

.info div > p{
  margin-bottom: 5px;
  font-size: 18px;
}

.info div > input[type=text] {
  width: 95%;
  height: 22px;
  border-radius: 4px;
  border: 1px solid black;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 15px;
}

#submit-button {
  height: 35px;
  width: 100px;
  border-radius: 5px;
  font-size: 15px;

  border: 1px solid black;
}


/* book table container */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-div {
  display: flex;
  flex-direction: column;
  width: 800px;
  /* max-width: 800px; */
  background-color: rgb(223, 221, 221);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-headers {
  font-size: 18px;
  font-weight: bold;
  /* border: 1px solid black; */
}

.table td {
  padding: 10px;
  border: 1px solid black;
}

.book-info {
  flex-direction: row;
}

.book-info td {
  background-color: white;
}

.pages-cell,
.read-cell,
.delete-cell {
  text-align: center;
}
